.profile-box {
  position: absolute;
  width: 140px;
  top: -30px;
  right: -21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(41, 41, 41);
  transition: 0.5s;
  color: aliceblue;
  z-index: 100;
}

.profile-box span {
  color: aliceblue;
}
